body{
    font-family: "Roboto", sans-serif;
    color: #3d52a0;
    background-color: #EDE8F5;
}
P{
    font-size: 20px;
}

#colour-patch{
    height: 100px;
    width: 100px;
    border: 5px solid #7091e6;
    border-radius: 10px;
}


#colour-patch{
    border: 5px solid #7091e6;
}



.car-data-card-cont{
    border: 5px solid #7091e6;
    background-color: #ADBBDA;
}


.bold{
    font-weight: bold;
}